{% extends 'base.html' %}

{% block head %}
<title>Taskdojo</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Task<i>dojo</i></h1>

    {% if tasks|length < 1 %}
    <h3> There are no tasks. Create one below!</h3>
    {% else %}
    <table class="table">
        <tr>
            <th class="table_head">Task</th>
            <th class="table_head">Added</th>
            <th class="table_head">Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td id="task"><b>{{ task.content }}</b></td>
                <td id="add">{{ task.date_created.date() }}</td>
                <td id="action">
                    <a id="del" href="/delete/{{task.id}}">Remove</a>
                    <br>
                    <a id="update" href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form"> 
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task" id="btn">
            <a id="del" href="/deleteall">Remove all tasks</a>
        </form>
        
    </div>
    
</div>
{% endblock %}